<div id="list-tabel">
	<div id="list-header">
		<ul class="horizontal clearfix">
			<li {{action "sortByName"}}>
				<div {{action "selectAll"}}>
					{{input-checkbox label="文件名"}}
				</div>
				&nbsp;
				<div id="cell-btns" class="hide">
					{{data-cell-btns}}
				</div>
				<button class="sort-by-name un-show">
					<i class="icon-down blue"></i>
				</button>
			</li>

			<li {{action "sortBySize"}}>
				<span>大小</span>
			</li>

			<li {{action "sortByData"}}>
				<span>修改日期</span>
			</li>
		</ul>
	</div>
	<div id="list-main">
		{{#each model as |data|}}
			<ul class="horizontal clearfix">
				<li>
					<span onclick={{action "selectItem"}}>
						{{input-checkbox label=data.name}}
					</span>				
				</li>

				<li>
					<span>{{data.size}}</span>
				</li>

				<li>
					<span>{{data.date}}</span>
				</li>
			</ul>
		{{/each}}
	</div>
</div>