<div class="input-checkbox" onclick={{action "isCheck"}} onmouseover={{action "overCss"}} onmouseout={{action "outCss"}}>
	<input type="checkbox" name={{name}}>
	<span></span>
	<label>{{label}}</label>
</div>