<div class="input-radio" onclick={{action "isCheck"}} onmouseover={{action "overCss"}} onmouseout={{action "outCss"}}>
	<input type="radio" name={{name}}>
	<span></span>
	<label>{{label}}</label>
</div>
