<div class="switch-grid-list">
	<button class="list-btn active" {{action "selectList"}} onmouseover={{action "listBtnHover"}} onmouseout={{action "listBtnUnHover"}}>
		<i class="icon-menu"></i>
	</button>
	<button class="grid-btn" {{action "selectGrid"}} onmouseover={{action "gridBtnHover"}} onmouseout={{action "gridBtnUnHover"}}>
		<i class="icon-th"></i>
	</button>
</div>
