<!--
<p>***********************input-text********************************</p>

{{input-text icon="icon-user inset" placeholder="input-text"}}

<p>***********************input-password**************************</p>

{{input-password icon=true}}

<p>***********************input-checkbox**************************</p>

<div class="input-checkbox-box">
	{{input-checkbox label="apple" name="fruit"}}
	{{input-checkbox label="orange" name="fruit"}}
	{{input-checkbox label="banana" name="fruit"}}
	{{input-checkbox label="pear" name="fruit"}}
</div>

<p>***********************input-toggle*****************************</p>

{{input-toggle label-left="off" label-right="on"}}

<p>***********************span-dropdown******************************</p>

{{span-dropdown label="个人资料,修改密码,退出登录" link="http://baidu.com,http://pan.baidu.com,http://bing.com" name="用户名" item-icon=""}}

<p>***********************input-radio******************************</p>

<div class="input-radio-box">
	{{input-radio label="女" name="gender"}}
	{{input-radio label="男" name="gender"}}
</div>

<p>***********************input-dropdown******************************</p>

{{input-dropdown label="女,男" name="gender"}}
-->

{{outlet}}